<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900454262383-ie3qknb1eopi8vu4kl2k7qno69ojcirp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900454262383-ie3qknb1eopi8vu4kl2k7qno69ojcirp</string>
	<key>API_KEY</key>
	<string>AIzaSyCI0ukYtcVbNX70MEe6iewYV6HQpH5HMfI</string>
	<key>GCM_SENDER_ID</key>
	<string>900454262383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatFlutterCompleted</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-f3756</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-f3756.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900454262383:ios:a7c2d44044b90afe064f9a</string>
</dict>
</plist>